h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ff6503;
}
.panier-container {
    display: flex;
    justify-content: space-between;
}
.produits-list {
    flex: 2;
    margin-right: 20px;
}
.produit-header,
.produit-item {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    color: #ffffff;
    gap: 2px;
}
.produit-header {
    background-color: #333;
    font-weight: bold;
}
.produit-image img {
    max-width: 80px;
    border-radius: 5px;
    border: 1px solid;
}
.produit-info {
    flex-basis: 20%;
    margin-left: 5px;
    text-align: left;
}
.quantite-control {
    display: flex;
    flex-direction: row; /* Alignement horizontal */
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-basis: 15%;
}
.quantite-control form {
    display: flex;
    flex-direction: row; /* Assure que les éléments du formulaire s'alignent horizontalement */
    align-items: center;
    gap: 5px;
}
.quantite-control input {
    width: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    margin: 0 5px;
}
.quantite-control button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ff6503;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
}
.quantite-control button:hover {
    background-color: #ff8c00;
}
.produit-prix {
    flex-basis: 15%;
    font-weight: bold;
    color: #ff6503;
    text-align: center;
}
.produit-action {
    flex-basis: 10%;
    text-align: center;
}
.resume {
    flex: 1;
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}
.resume h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: white;
}
.resume p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #f36100;
    font-size: 17px;
}
.resume .total {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btn-commander {
    display: block;
    width: 100%;
    background-color: #ff6503;
    color: #1c1c1c;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
.btn-commander:hover {
    background-color: #ff7820;
}